# site properties and page defaults
# 【核心配置：必须正确，否则样式/图片加载失败】
title: 计算机图像处理实验室
subtitle: 江西财经大学
# 【关键配置1】你的 GitHub Pages 根域名，不要加仓库名
url: "https://Reiux-Bear.github.io"
# 【关键配置2】你的仓库名，前面必须加一个斜杠 /
baseurl: "/my-labweb"
description: 我们专注于计算机视觉、深度学习和医学图像分析的研究，致力于推动人工智能在图像领域的应用。
header: images/background.jpg
footer: images/background.jpg
proofer: false

# site social media and other links
links:
  email: reiuxstudy@gmail.com
  orcid: 0000-0001-8713-9213
  google-scholar: ETJoidYAAAAJ
  github: ivml-lab
  twitter: IVMLab
  youtube: IVMLabChannel

### jekyll settings
# 【以下为技术配置，通常无需修改】

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
